*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    line-height: 1.6;
    box-sizing: border-box;
}

body {
    
    background-color: whitesmoke;
}

img {
    width: 90%;
    max-width: 500px;
}

h1{
    font-size: 36px;
}

.container{
    background-color: rgb(255, 255, 235);   
    width: 80%;
    margin: 40px auto;
    padding: 20px 35px;
    color: rgb(53, 53, 53);
    border-radius: 15px;
    box-shadow: 3px 3px 5px;
}

